# Dépendances
node_modules
dist
build

# Cache
.cache
*.log

# Configuration
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist
.vite

# Coverage
coverage

# IDE
.vscode
.idea
